<!-- <title>Instagram</title> -->
{%extends "base.html"%}
{% load static %}
{%block content%}
{{ block.super}}

<div style="overflow-x: hidden;">
  <div class="card" style="margin-top: 100px;">
    {%for new_post in posts %}
    <div>
      <div class="row" style="margin-left: 50px;">

        <div class="col-md-8  m-auto card">
          <a href="user_profile">
            <img width="50px" height="50px" style="margin-bottom: 8px;" class="img img-circle" src="{{new_post.avatar}}"
              alt="" srcset="">
            <span><b>{{new_post.author}}</b></span>
          </a>



          <div class="card mb-3">
            <img src="{{new_post.image}}" class="img-responsive card-img-top" alt="image1" style="height: 400px; width: 600px; border-radius: 25px;">
          </div>

          <div class="card-body">

            <!-- <h3>{{new_post.name}}</h3> -->
            <p style="margin-top: 10px;"> <b>{{new_post.author}} ~ </b>{{new_post.content}}</p>
          </div>

          <div class="card-footer">
          </div>
        </div>
      </div>
    </div><br><br>
  </div>

  {% endfor %}
</div>
</div>



{%endblock%}