<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse" style="background-color:rgba(8, 8, 8, 0.15); border:none; position: fixed; top:0; height: 25px;margin-bottom: 2%; width: 100%; box-shadow: 8px; backdrop-filter: blur(8px); z-index: 1;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Home</a>
    </div>
  </div>
</nav>
</body>
</html>